<!DOCTYPE html>
<html lang="en" ng-app="ElectionDB">

<head>
    <meta charset="UTF-8">
    <title>ElectionDB</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/routes/main.route.js"></script>
    <script src="app/main/main.controller.js"></script>
    <script src="app/main/main.module.js"></script>

</head>

<body ng-controller="MainController">

    <!--<button class="btn btn-primary" ng-click="grab()">Update Time Series Data</button>-->

    <h1 align="center">ElectionDB</h1>

    <div class="container-fluid">
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Election Year Query</h2>
                <input type="text" name="EYQYear" ng-model="EYQYear">
                <button class="btn btn-default" ng-click="EYQ(EYQYear)">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Party</th>
                        <th>Year</th>
                        <th>Percentage</th>
                        <th>Popular</th>
                        <th>Electoral</th>
                        <th>Polling</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsEYQ">
                        <td>{{x.Name}}</td>
                        <td>{{x.Party}}</td>
                        <td>{{x.Year}}</td>
                        <td>{{x.Percentage}}</td>
                        <td>{{x.Popular}}</td>
                        <td>{{x.Electoral}}</td>
                        <td>{{x.Polling}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Candidate Query</h2>
                <input type="text" name="CQYear" ng-model="CQYear">
                <button class="btn btn-default" ng-click="CQ(CQYear)">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Running Mate</th>
                        <th>Year</th>
                        <th>Party</th>
                        <th>Percentage</th>
                        <th>Popular</th>
                        <th>Electoral</th>
                        <th>Polling</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsCQ">
                        <td>{{x.Name}}</td>
                        <td>{{x.Running_Mate}}</td>
                        <td>{{x.Year}}</td>
                        <td>{{x.Party}}</td>
                        <td>{{x.Percentage}}</td>
                        <td>{{x.Popular}}</td>
                        <td>{{x.Electoral}}</td>
                        <td>{{x.Polling}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Non-contiguous Election Query</h2>
                <button class="btn btn-default" ng-click="NCEQ()">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>StartYear</th>
                        <th>EndYear</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsNCEQ">
                        <td>{{x.Name}}</td>
                        <td>{{x.StartYear}}</td>
                        <td>{{x.EndYear}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Swing Candidate Query</h2>
                <button class="btn btn-default" ng-click="SCQ()">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Running Mate</th>
                        <th>Year</th>
                        <th>Party</th>
                        <th>Percentage</th>
                        <th>Popular</th>
                        <th>Electoral</th>
                        <th>Polling</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsSCQ">
                        <td>{{x.Name}}</td>
                        <td>{{x.Running_Mate}}</td>
                        <td>{{x.Year}}</td>
                        <td>{{x.Party}}</td>
                        <td>{{x.Percentage}}</td>
                        <td>{{x.Popular}}</td>
                        <td>{{x.Electoral}}</td>
                        <td>{{x.Polling}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Party Query</h2>
                <input type="text" name="PQParty" ng-model="PQParty">
                <button class="btn btn-default" ng-click="PQ(PQParty)">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Party</th>
                        <th>Year</th>
                        <th>Percentage</th>
                        <th>Popular</th>
                        <th>Electoral</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsPQ">
                        <td>{{x.Party}}</td>
                        <td>{{x.Year}}</td>
                        <td>{{x.Percentage}}</td>
                        <td>{{x.Popular}}</td>
                        <td>{{x.Electoral}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>State Query</h2>
                <input type="text" name="SQState" ng-model="SQState">
                <button class="btn btn-default" ng-click="SQ(SQState)">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>State Name</th>
                        <th>Candidate Name</th>
                        <th>Year</th>
                        <th>Percentage</th>
                        <th>Popular</th>
                        <th>Electoral</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsSQ">
                        <td>{{x.sName}}</td>
                        <td>{{x.cName}}</td>
                        <td>{{x.Year}}</td>
                        <td>{{x.Percentage}}</td>
                        <td>{{x.Popular}}</td>
                        <td>{{x.Electoral}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Served Together Trivia Query</h2>
                President: <input type="text" name="FEQPresident" ng-model="FEQPresident">
                served with Vice President: <input type="text" name="FEQVicePresident" ng-model="FEQVicePresident">
                <button class="btn btn-default" ng-click="FEQ(FEQPresident, FEQVicePresident)">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Answer</th>
                        <th>Result</th>
                        <th>Score</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{answer}}</td>
                        <td>{{resultsFEQ}}</td>
                        <td>{{score}}</td>
                        <td>{{total}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Not-Elected Query</h2>
                <button class="btn btn-default" ng-click="NEQ()">Query</button>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>StartYear</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in resultsNEQ">
                        <td>{{x.Name}}</td>
                        <td>{{x.StartYear}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <h2>Presidential Picture Query</h2>
                <input type="text" name="PPQName" ng-model="PPQName">
                <button class="btn btn-default" ng-click="PPQ(PPQName)">Query</button>
            </div>
            <div class="col-lg-6" style="display:table-cell; vertical-align:middle; text-align:center">
                <img ng-src="{{resultsPPQ}}"/>
            </div>
        </div>
    </div>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>

</body>

</html>